Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.husky
.lintstagedrc
.prettierrc
.eslintrc.json
tsconfig.json
vitest.config.ts
playwright.config.ts
test-results/
playwright-report/
blob-report/
playwright/.cache/
coverage/
.env*
!.env.example
