# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
.env.*

# Database
*.db
*.sqlite3

# Logs
*.log
logs/

# Reports
reports/*.html
reports/*.pdf

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
coverage.xml
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# PyInstaller
*.spec

# Jupyter
.ipynb_checkpoints/token.json
token.json
