# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Reports
reports/*.html
reports/*.pdf

# Test cache
.pytest_cache/